<script setup>
import Header from '../components/Header.vue'
import Banner from '../components/Banner.vue'
import StateBanner from '../components/StateBanner.vue';
import EmailBanner from '../components/EmailBanner.vue'
</script>

<template>
  <Header />
  <Banner title="Voting Rights by State" content="Learn more about
  existing voting rights laws and pending legislation across all 50 states and the District of Columbia.
  Select a state to begin." />
  <StateBanner />
  <EmailBanner />
</template>

<script>
export default {
    name: "Home"
}
</script>
