<template>

<Header></Header>
<Banner title="Bill Search" content="We track legislation across more than a dozen major issue areas relating to voter access and election administration.
It may take a few days for legislation or our analysis of any amendments to appear. We provide a link to the most recent
bill text as it becomes available, and our summary of the bill includes the date on which it was last updated.">
</Banner>
<div class="w-full px-8 pt-16 pb-28 lg:mx-auto max-w-6xl xl:max-w-7xl relative z-0 overflow-hidden">
    <select >
        <option selected value="">
            States
        </option>
        <option v-for="state in states" :key="state.id" :value="state.name">
            {{ state.name }}
        </option>

    </select>
<table class="lg:table w-full">
<thead>
    <tr v-for="law in filteredLaws" class="text-white font-semibold text-lg">
        <th  class="lg:w-36 lg:flex-none order-5 lg:order-none hidden lg:table-cell lg:py-3 lg:px-4 text-center select-none border-l border-white font-semibold bg-blue-400 text-navy-700 hover:bg-blue-300 hover:text-navy-700 cursor-pointer rounded-tl-lg">
            State
        </th>
        <th v-for="value in filteredKeys(law)"
        class="lg:w-32 hidden lg:table-cell lg:flex-none hidden lg:table-cell lg:py-3 lg:px-4 text-center select-none border-l border-white font-semibold bg-slate-900 hover:bg-blue-300 hover:text-navy-700 cursor-pointer">
            {{ value }}
        </th>
    </tr>
</thead>
<tbody>
    <tr v-for="law in filteredLaws" class="flex flex-col lg:table-row border-b border-white text-black">
        <td class="p-3 border-l border-white md:hidden lg:block lg:w-36 lg:flex-none order-5 lg:order-none hidden">
            {{ stateName }}
        </td>
        <td v-for="value in filteredKeys(law)">
            {{ law[value] }}
        </td>
    </tr>
</tbody>

</table>

</div>

<EmailBanner></EmailBanner>

</template>

<script setup>
import { defineProps, watchEffect } from 'vue';
import { onMounted } from 'vue';
import Header from '../components/Header.vue';
import Banner from '../components/Banner.vue';
import EmailBanner from '../components/EmailBanner.vue';
import { ref } from 'vue';
import { useStore } from 'vuex';
import store from '../store';

const laws = ref([])
const states = ref([])
const filteredLaws = ref([]);
const filteredState = ref("")
 onMounted(async () => {
    const store = useStore()
    await store.dispatch('getLaws');
    await store.dispatch('getStates');
    states.value = store.state.states
    laws.value = store.state.laws;


    filteredState.value = states.value.filter((state) => {
        return state.name === props.stateName
    })

    filteredLaws.value = laws.value.filter((law) => {
        return law.State === filteredState.value[0].id
    })


 })

 function filteredKeys(law) {
        return Object.keys(law).filter((key) => key !== "id" && key !== "State");
    }







const props = defineProps({
    stateName: String
})



</script>
