<script setup>
import Header from './components/Header.vue'
import Banner from './components/Banner.vue'
import StateBanner from './components/StateBanner.vue';
import EmailBanner from './components/EmailBanner.vue'
</script>

<template>
<router-view>
  
</router-view>
</template>

<style scoped>
</style>
