<style>
.dot {
    width: 2px;
    height: 2px;
    background-color: white;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 50%;
    padding: 2px;
}

</style>


<template>
    <div class="bg-slate-900 w-full py-12">
        <div class="mx-auto max-w-lg sm:max-w-xl lg:max-w-6xl xl:max-w-7xl px-8 lg:px-0 flex">
            <div class="w-3/4">
                <h1 role="heading" class="font-display xl:max-w-5xl text-5xl md:text-6xl lg:text-7xl leading-none font-bold mb-8 md:mx-0 md:mt-0 text-white">
                 {{ title }}
            </h1>
            <div class="font-text text-xl tracking-wide leading-normal subheadline my-4 text-white w-3/4">
                <span>
                    {{ content }}
                </span>
            </div>
            </div>

            <div class="flex justify-end">
                <div v-for="row in 7" :key="row" class="flex flex-col">
                    <div v-for="column in 7" :key="column" class="dot">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { defineProps } from 'vue';

const props = defineProps({
    title: String,
    content: String
})
</script>
