
<template>
    <div class="w-full">
        <div class="rounded bg-blue-400 max-w-6xl lg:mx-auto xl:max-w-7xl bg-no-repeat bg-right-bottom pt-20 px-8 lg:px-20 mx-6 relative">
            <div class="grid grid-cols-1 lg:grid-cols-3 h-full mb-12 pb-0 lg:pb-24">
                <div class="col-span-2">
                    <h3 class="font-semibold size-2 font-display text-2xl">
                        Looking For more?
                    </h3>
                    <h2 class="font-semibold size-1 font-display text-5xl pt-2 pb-4 lg:pt-0 lg:pb-4">
                        Sign up for Emails
                    </h2>
                    <p class="pt-2 size-3 pb-2 font-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec interdum dolor. Vestibulum sit amet tortor sed lorem ullamcorper posuere.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
