
<style>
@import "../input.css";
</style>
<template>

<div class="bg-slate-900 text-white flex justify-between md:h-32 md:px-8 sticky top-0 z-30">
    <div class="flex items-center justify-between w-full py-4 px-8 md:p-0 md:mx-8 lg:mx-auto max-w-6xl xl:max-w-7xl">
        <div class="block items-center">
            <img width="88" height=" 58" src="../assets/logo.svg" />
        </div>
        <div class="flex flex-wrap justify-end items-baseline">
            <div class="mr-10">
                <a href="#"  class="font-display  block pb-1 capitalize font-display text-sm text-white font-semibold tracking-wider">Bill Search</a>
            </div>
            <div class="dropdown group mr-10">
                <div class="flex flex-wrap">
                    <a href="#"  class="block pb-1 capitalize font-display text-sm text-white font-semibold tracking-wider relative z-0"> Session Snapshots</a>
                    <img src="../assets/icons8-down-button-50.png" height="24px" width="24px" alt="down-icon"/>
                    <div class="hover-cover">
                        <div class="relative z-10 flex justify-center">
                            <div class="group-hover:lg:block speech-bubble absolute hidden pb-6 px-8 bg-white rounded w-max max-w-lg shadow mt-6 text-left">
                                <div class="pt-6">
                                    <ul>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Voter Access</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Interference with Election Administration</p>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown group mr-10">
                <div class="flex flex-wrap">
                    <a href="#"  class="block pb-1 capitalize font-display text-sm text-white font-semibold tracking-wider relative z-0"> Issues</a>
                    <img src="../assets/icons8-down-button-50.png" height="24px" width="24px" alt="down-icon"/>
                    <div class="hover-cover">
                        <div class="relative z-10 flex justify-center">
                            <div class="group-hover:lg:block speech-bubble absolute hidden pb-6 px-8 bg-white rounded w-max max-w-lg shadow mt-6 text-left">
                                <div class="pt-6">
                                    <ul>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Voter Registration</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>In Person Voting</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Proof Of Citizenship</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Voter List Maintenance & Removal</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Interference With Election Administration</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Emerging Issues</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Mail Voting</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>ID Requirements</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Voting And The Criminal Justice System</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Criminal & Civil Enforcement</p>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-link">
                                                <a href="#" class="text-black text-left py-2 px-4 font-semibold text-sm block">
                                                    <p>Shifts in Election Authority</p>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="#" class="menu-item-text">
                                       <div class="w-auto bg-red-500 text-navy-700 text-center font-display text-sm text-white font-semibold tracking-wider p-4">
                                        See All Issues
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mr-10">
                <a href="#"  class="font-display  block pb-1 capitalize font-display text-sm text-white font-semibold tracking-wider">State Laws</a>
            </div>
            <div class="mr-10">
                <a href="#"  class="font-display  block pb-1 capitalize font-display text-sm text-white font-semibold tracking-wider">Analysis</a>
            </div>
            <div class="mr-10">
                <a href="#"  class="font-display  block pb-1 capitalize font-display text-sm text-white font-semibold tracking-wider">About</a>

            </div>
            <div v-if="isAuthenticated" class="ml-5 mr-10">
                <a @click="logout" href="#"  class="block py-4 px-6 border-2 border-red-500 capitalize font-display text-sm text-white font-semibold tracking-wider hover:bg-white hover:border-white hover:text-navy-700">Log out</a>

            </div>
            <div v-else class="flex items-center">
                <div class="ml-5 mr-10">
                    <a href="/login"  class="font-display  block pb-1 capitalize font-display text-sm text-white font-semibold tracking-wider">Log In</a>
                </div>
                <div class="ml-5 mr-10 ">
                    <a href='/signup' class="block py-4 px-6 border-2 border-red-500 capitalize font-display text-sm text-white font-semibold tracking-wider hover:bg-white hover:border-white hover:text-navy-700">
                        Sign Up
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

</template>

<script setup>
import { computed } from 'vue';
import store from '../store';
import { useRouter } from 'vue-router';
const router = useRouter();
const isAuthenticated = computed(() => store.state.user.token !== null)

function logout() {
    store.dispatch("logout")
    .then(() => {
         router.push({
            name: "home"
        })
    });


}
</script>
