
<template>
    <div class="mx-auto max-w-lg sm:max-w-xl lg:max-w-6xl xl:max-w-7xl">
        <div class="w-full px-10 mt-12 lg:mt-32">
            <div class="max-w-5xl lg:mx-auto xl:max-w-7xl grid grid-cols-1 lg:grid-cols-5 gap-6">
                <div class="pt-0 lg:pt-16 lg:col-span-2 flex flex-col justify-start gap-6">
                    <h2 class="font-semibold text-4xl w-full lg:w-3/4 flex-none m-0">
                        Whats Happening
                        <br>
                        in Your State
                    </h2>
                    <p class="text-lg tracking-wide w-full">
                        Learn more about existing voting rights laws and pending legislation across all 50 states and the District of Columbia.
                    </p>
                    <div class="flex flex-col lg:flex-row items-stretch justify-start gap-6">
                        <select v-model="stateName" class="block w-full lg:flex-1 px-4 py-3 text-lg font-semibold custom-select-arrow appearance-none border-4 border-navy-700">
                            <option disabled selected value="">
                                Select State
                            </option>
                            <option v-for="state in states" :key="state.id" :value="state.name">
                                {{ state.name }}
                            </option>
                        </select>
                        <button @click="handleName" class="bg-slate-900 border-none py-5 px-8 w-full lg:flex-none lg:w-auto font-semibold text-md text-white">
                            Get Results
                        </button>
                    </div>

                </div>
                <div class="hidden lg:block col-span-3">
                        <div class="relative-custom">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" class="mb-8" viewBox="0 0 440 300">
                                <g><path d="M406.355,32.669L422.988,42.272L422.988,61.479L406.355,71.082L389.722,61.479L389.722,42.272Z" id="ME" class="stroke-2 stroke-white fill-red-200 cursor-pointer hover:fill-red-100"></path><path d="M406.355,90.288L422.988,99.891L422.988,119.097L406.355,128.7L389.722,119.097L389.722,99.891Z" id="RI" class="stroke-2 stroke-white fill-red-200 cursor-pointer hover:fill-red-100"></path><path d="M356.455,61.479L373.088,71.082L373.088,90.288L356.455,99.891L339.822,90.288L339.822,71.082Z" id="VT" class="stroke-2 stroke-white fill-red-300 cursor-pointer hover:fill-red-200"></path><path d="M173.491,205.525L190.124,215.128L190.124,234.335L173.491,243.938L156.858,234.335L156.858,215.128Z" id="OK" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M289.923,176.716L306.556,186.319L306.556,205.525L289.923,215.128L273.29,205.525L273.29,186.319Z" id="TN" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M306.556,147.907L323.189,157.51L323.189,176.716L306.556,186.319L289.923,176.716L289.923,157.51Z" id="VA" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M273.29,147.907L289.923,157.51L289.923,176.716L273.29,186.319L256.657,176.716L256.657,157.51Z" id="WV" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M90.326,176.716L106.959,186.319L106.959,205.525L90.326,215.128L73.693,205.525L73.693,186.319Z" id="CA" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M190.124,176.716L206.758,186.319L206.758,205.525L190.124,215.128L173.491,205.525L173.491,186.319Z" id="KS" class="stroke-2 stroke-white fill-red-600 cursor-pointer hover:fill-red-500"></path><path d="M240.024,147.907L256.657,157.51L256.657,176.716L240.024,186.319L223.391,176.716L223.391,157.51Z" id="MO" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M339.822,147.907L356.455,157.51L356.455,176.716L339.822,186.319L323.189,176.716L323.189,157.51Z" id="MD" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M206.758,147.907L223.391,157.51L223.391,176.716L206.758,186.319L190.124,176.716L190.124,157.51Z" id="NE" class="stroke-2 stroke-white fill-red-600 cursor-pointer hover:fill-red-500"></path><path d="M173.491,147.907L190.124,157.51L190.124,176.716L173.491,186.319L156.858,176.716L156.858,157.51Z" id="CO" class="stroke-2 stroke-white fill-red-600 cursor-pointer hover:fill-red-500"></path><path d="M156.858,176.716L173.491,186.319L173.491,205.525L156.858,215.128L140.225,205.525L140.225,186.319Z" id="NM" class="stroke-2 stroke-white fill-red-600 cursor-pointer hover:fill-red-500"></path><path d="M323.189,176.716L339.822,186.319L339.822,205.525L323.189,215.128L306.556,205.525L306.556,186.319Z" id="NC" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M356.455,176.716L373.088,186.319L373.088,205.525L356.455,215.128L339.822,205.525L339.822,186.319Z" id="DC" class="stroke-2 stroke-white fill-red-300 cursor-pointer hover:fill-red-200"></path><path d="M256.657,176.716L273.29,186.319L273.29,205.525L256.657,215.128L240.024,205.525L240.024,186.319Z" id="KY" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M190.124,119.097L206.758,128.7L206.758,147.907L190.124,157.51L173.491,147.907L173.491,128.7Z" id="IA" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M106.959,147.907L123.592,157.51L123.592,176.716L106.959,186.319L90.326,176.716L90.326,157.51Z" id="NV" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M356.455,119.097L373.088,128.7L373.088,147.907L356.455,157.51L339.822,147.907L339.822,128.7Z" id="NJ" class="stroke-2 stroke-white fill-red-300 cursor-pointer hover:fill-red-200"></path><path d="M156.858,119.097L173.491,128.7L173.491,147.907L156.858,157.51L140.225,147.907L140.225,128.7Z" id="SD" class="stroke-2 stroke-white fill-red-600 cursor-pointer hover:fill-red-500"></path><path d="M289.923,119.097L306.556,128.7L306.556,147.907L289.923,157.51L273.29,147.907L273.29,128.7Z" id="OH" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M123.592,119.097L140.225,128.7L140.225,147.907L123.592,157.51L106.959,147.907L106.959,128.7Z" id="WY" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M373.088,147.907L389.722,157.51L389.722,176.716L373.088,186.319L356.455,176.716L356.455,157.51Z" id="DE" class="stroke-2 stroke-white fill-red-300 cursor-pointer hover:fill-red-200"></path><path d="M289.923,234.335L306.556,243.938L306.556,263.144L289.923,272.747L273.29,263.144L273.29,243.938Z" id="GA" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M389.722,61.479L406.355,71.082L406.355,90.288L389.722,99.891L373.088,90.288L373.088,71.082Z" id="NH" class="stroke-2 stroke-white fill-red-200 cursor-pointer hover:fill-red-100"></path><path d="M23.794,234.335L40.427,243.938L40.427,263.144L23.794,272.747L7.161,263.144L7.161,243.938Z" id="HI" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M190.124,234.335L206.758,243.938L206.758,263.144L190.124,272.747L173.491,263.144L173.491,243.938Z" id="TX" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M273.29,205.525L289.923,215.128L289.923,234.335L273.29,243.938L256.657,234.335L256.657,215.128Z" id="AL" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M306.556,261.943L323.189,271.59L323.189,290.888L306.556,300.539L289.923,290.888L289.923,272.273Z" id="FL" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M306.556,205.525L323.189,215.128L323.189,234.335L306.556,243.938L289.923,234.335L289.923,215.128Z" id="SC" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M206.758,205.525L223.391,215.128L223.391,234.335L206.758,243.938L190.124,234.335L190.124,215.128Z" id="LA" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M240.024,205.525L256.657,215.128L256.657,234.335L240.024,243.938L223.391,234.335L223.391,215.128Z" id="MS" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M123.592,176.716L140.225,186.319L140.225,205.525L123.592,215.128L106.959,205.525L106.959,186.319Z" id="AZ" class="stroke-2 stroke-white fill-red-600 cursor-pointer hover:fill-red-500"></path><path d="M140.225,147.907L156.858,157.51L156.858,176.716L140.225,186.319L123.592,176.716L123.592,157.51Z" id="UT" class="stroke-2 stroke-white fill-red-600 cursor-pointer hover:fill-red-500"></path><path d="M223.391,176.716L240.024,186.319L240.024,205.525L223.391,215.128L206.758,205.525L206.758,186.319Z" id="AR" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M90.326,119.097L106.959,128.7L106.959,147.907L90.326,157.51L73.693,147.907L73.693,128.7Z" id="ID" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M73.693,147.907L90.326,157.51L90.326,176.716L73.693,186.319L57.06,176.716L57.06,157.51Z" id="OR" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M223.391,119.097L240.024,128.7L240.024,147.907L223.391,157.51L206.758,147.907L206.758,128.7Z" id="IL" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M323.189,119.097L339.822,128.7L339.822,147.907L323.189,157.51L306.556,147.907L306.556,128.7Z" id="PA" class="stroke-2 stroke-white fill-red-300 cursor-pointer hover:fill-red-200"></path><path d="M256.657,119.097L273.29,128.7L273.29,147.907L256.657,157.51L240.024,147.907L240.024,128.7Z" id="IN" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M339.822,90.288L356.455,99.891L356.455,119.097L339.822,128.7L323.189,119.097L323.189,99.891Z" id="NY" class="stroke-2 stroke-white fill-red-300 cursor-pointer hover:fill-red-200"></path><path d="M73.693,90.288L90.326,99.891L90.326,119.097L73.693,128.7L57.06,119.097L57.06,99.891Z" id="WA" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M206.758,90.288L223.391,99.891L223.391,119.097L206.758,128.7L190.124,119.097L190.124,99.891Z" id="WI" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M373.088,90.288L389.722,99.891L389.722,119.097L373.088,128.7L356.455,119.097L356.455,99.891Z" id="MA" class="stroke-2 stroke-white fill-red-200 cursor-pointer hover:fill-red-100"></path><path d="M273.29,90.288L289.923,99.891L289.923,119.097L273.29,128.7L256.657,119.097L256.657,99.891Z" id="MI" class="stroke-2 stroke-white fill-red-400 cursor-pointer hover:fill-red-300"></path><path d="M173.491,90.288L190.124,99.891L190.124,119.097L173.491,128.7L156.858,119.097L156.858,99.891Z" id="MN" class="stroke-2 stroke-white fill-red-500 cursor-pointer hover:fill-red-400"></path><path d="M106.959,90.288L123.592,99.891L123.592,119.097L106.959,128.7L90.326,119.097L90.326,99.891Z" id="MT" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M140.225,90.288L156.858,99.891L156.858,119.097L140.225,128.7L123.592,119.097L123.592,99.891Z" id="ND" class="stroke-2 stroke-white fill-red-600 cursor-pointer hover:fill-red-500"></path><path d="M40.427,32.669L57.06,42.272L57.06,61.479L40.427,71.082L23.794,61.479L23.794,42.272Z" id="AK" class="stroke-2 stroke-white fill-red-700 cursor-pointer hover:fill-red-600"></path><path d="M389.722,119.097L406.355,128.7L406.355,147.907L389.722,157.51L373.088,147.907L373.088,128.7Z" id="CT" class="stroke-2 stroke-white fill-red-200 cursor-pointer hover:fill-red-100"></path></g><g><text x="406.3546152881902" y="51.87538151347522" id="ME-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">ME</text><text x="406.3546152881906" y="109.49408797686942" id="RI-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">RI</text><text x="356.4553498377862" y="80.68473554008398" id="VT-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">VT</text><text x="173.49138760571125" y="224.73150179867346" id="OK-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">OK</text><text x="289.922999071364" y="195.92214754966724" id="TN-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">TN</text><text x="306.5560891385557" y="167.11279381790868" id="VA-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">VA</text><text x="273.2899137553455" y="167.11279381790933" id="WV-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">WV</text><text x="90.3259467720959" y="195.92214754966716" id="CA-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">CA</text><text x="190.12447292172982" y="195.92214754966707" id="KS-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">KS</text><text x="240.02373837213315" y="167.1127938179086" id="MO-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">MO</text><text x="339.82226452176735" y="167.1127938179088" id="MD-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">MD</text><text x="206.75756298892276" y="167.11279381790928" id="NE-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">NE</text><text x="173.49138760571117" y="167.1127938179089" id="CO-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">CO</text><text x="156.8582975385182" y="195.92214754966676" id="NM-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">NM</text><text x="323.1891744545741" y="195.92214754966645" id="NC-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">NC</text><text x="356.455349837787" y="195.92214754966759" id="DC-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">DC</text><text x="256.65682368815203" y="195.9221475496667" id="KY-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">KY</text><text x="190.1244729217297" y="138.30344117278796" id="IA-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">IA</text><text x="106.95903683928849" y="167.11279381790894" id="NV-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">NV</text><text x="356.45534983778606" y="138.30344117278779" id="NJ-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">NJ</text><text x="156.85829753851854" y="138.303441172788" id="SD-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">SD</text><text x="289.9229990713642" y="138.30344117278818" id="OH-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">OH</text><text x="123.5921221553071" y="138.30344117278787" id="WY-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">WY</text><text x="373.0884399049778" y="167.1127938179089" id="DE-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">DE</text><text x="289.92299907136385" y="253.54085438494926" id="GA-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">GA</text><text x="389.7215252209971" y="80.68473554008388" id="NH-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">NH</text><text x="23.79359600567354" y="253.54085438494926" id="HI-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">HI</text><text x="190.1244729217294" y="253.5408543849489" id="TX-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">TX</text><text x="273.28991375534525" y="224.73150179867375" id="AL-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">AL</text><text x="306.6218534273097" y="281.31503409113355" id="FL-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">FL</text><text x="306.55608913855514" y="224.73150179867295" id="SC-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">SC</text><text x="206.75756298892244" y="224.73150179867335" id="LA-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">LA</text><text x="240.02373837213392" y="224.73150179867363" id="MS-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">MS</text><text x="123.59212215530712" y="195.92214754966682" id="AZ-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">AZ</text><text x="140.22521222249986" y="167.1127938179089" id="UT-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">UT</text><text x="223.39064830494075" y="195.92214754966682" id="AR-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">AR</text><text x="90.32594677209586" y="138.3034411727879" id="ID-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">ID</text><text x="73.69286145607724" y="167.1127938179089" id="OR-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">OR</text><text x="223.39064830494107" y="138.30344117278798" id="IL-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">IL</text><text x="323.1891744545742" y="138.30344117278793" id="PA-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">PA</text><text x="256.65682368815214" y="138.3034411727878" id="IN-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">IN</text><text x="339.8222645217677" y="109.49408797686932" id="NY-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">NY</text><text x="73.69286145607741" y="109.4940879768694" id="WA-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">WA</text><text x="206.75756298892256" y="109.49408797686935" id="WI-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">WI</text><text x="373.08843990497866" y="109.49408797686927" id="MA-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">MA</text><text x="273.28991375534554" y="109.49408797686947" id="MI-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">MI</text><text x="173.49138760571128" y="109.49408797686944" id="MN-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">MN</text><text x="106.95903683928864" y="109.49408797686931" id="MT-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">MT</text><text x="140.22521222249998" y="109.49408797686932" id="ND-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">ND</text><text x="40.4266860728661" y="51.87538151347523" id="AK-text" class="fill-white font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">AK</text><text x="389.72152522099697" y="138.30344117278767" id="CT-text" class="fill-black font-bold text-xs" text-anchor="middle" dominant-baseline="central" style="pointer-events: none;">CT</text></g></svg>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</template>

<script setup>
import { onMounted } from 'vue';
import { useStore } from 'vuex';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const stateName = ref("")
const id = ref("")

const states = ref([])

const handleName = () => {
 router.push({name: 'state', params: {stateName: stateName.value}})
}

onMounted(async () => {
  const store = useStore();
  await store.dispatch('getStates');
  states.value = store.state.states;
  console.log(states.value)
});


</script>
